/*CSS DO FAQ*/
.perguntaTexto {
    color:white;
    background-color: #141516;
    text-align: left;
}
.perguntaTexto:hover {
    color:white;
    background-color: #D7182A;
}
.perguntaTexto:focus {
    color:white;
    background-color: #D7182A;
}
.perguntaTexto:active {
    color:white;
    background-color: #D7182A;
}

 .alert-info{
    color:black;
    font-size: 20px;
    background-color: #F2F2F2;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 95%;
    text-align: left;
    border-radius: 3px;
}

.seta {
    margin-right: 0%;
}
.btn-block{
    margin-top: 5px;
    width: 95%;
}
.faq{
    margin-top: -40px;
    margin-bottom: 0%;
    background-image: url('https://i.pinimg.com/736x/b0/f8/70/b0f8708a0a36878f3029252120de3435--wallpaper-for-mobile-black-wallpaper.jpg');
}
.icon-outside{
  margin-right: 1%;
}
.icon-inside{
  margin-top: 5px;
  margin-right: 1%;
  margin-left: 1%;  
}
.invertido {
  transform: rotate(270deg) scaleX(-1);
}
.titleFaq{
    color: white
}