/*.container {
    max-width: 960px;
    margin: auto;
}*/


/*CSS do menu*/
 .navbar {
    background-color: #d7182a;
    margin-bottom: 0;
    border: none;
    padding-bottom: 8px;
 }



/*CSS do nome da marca*/
.navbar-brand {
    font-weight: bold;
    color: #fff !important;
    font: 24px serif !important;
    padding-top: 10px !important;
}

/*CSS do menu para resoluções desktop*/
ul#menu a {
    color: #fff;
    padding: 5px;
    margin: 8px;
    border: 2px solid #d7182a;
    font-size: 20px;
    margin-top: 14px;
}

/*Efeito de bordas brancas do menu para resoluções desktop*/
@media (min-width: 768px) {
    ul#menu a:hover {
        border: 2px solid #fff;
    }
}


@media (max-width: 767px) {

    /*CSS das li do menu hamburguer*/
    ul#menu a {
        color: #fff;
        background-color: #d7182a;
        text-align: center;
        border: none;
    }

    /*Bordas das li do menu hamburguer*/
    ul#menu li:nth-child(1) a,
    ul#menu li:nth-child(2) a {
        border-bottom:  1px solid #fff;
        padding-bottom: 15px;
    } 

    /*CSS do menu hamburguer*/
    ul#menu {
        background-color: #d7182a;
    }

    /*Borda do menu hamburguer*/
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }

    /*Barrinhas do menu hamburguer*/
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: #fff;    
    }

    /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #d7182a;
    }

}
/*CSS banner*/
#banner {
    background: url(../css/img/superstars.jpg) center center no-repeat;
    height: 500px;
}

/*CSS texto do banner*/
.main h2,
.main h3 {
    color: #fff;
    text-align: left;
    padding-left: 15px;
}

/*CSS texto do banner*/
.main h2 {
    padding-right: 15px;
}

/*CSS texto do banner*/
.main .presentation {
    background: rgba(35, 40, 40, 0.8);
    margin-top: 200px;
    display: inline-block;
    overflow: hidden;
}

/*CSS do How to Play*/
.play h2 {
    text-align: center;
    margin-bottom: 50px;
}

.play .col-md-6 div {
    float: left;
    font-size: 24px;
}

.num {
    padding-bottom: 50px;
}

.step {
    width: 400px;
    margin-left: 20px;
}

/*CSS texto do rodapé*/
footer .social {
    height: 105px;
    background-color: #d7182a;
}

footer .copy {
    height: 50px;
    background-color: #141516;
}

