/*CSS do menu*/
.navbar {
    background-color: #d7182a;
    margin-bottom: 0;
    border: none;
    padding-bottom: 8px;
}

.nav-container {
    max-width: 1140px;
    padding: 0;
}


/*CSS do menu para resoluções desktop*/
ul#menu a {
    color: #fff;
    padding: 5px;
    margin: 8px;
    border: 2px solid #d7182a;
    font-size: 20px;
    margin-top: 14px;
}

/*CSS MENU DROPDOWN*/
.dropdown-menu {
    background-color: #d7182a;
}

.dropdown-menu li a {
    text-align: center;
    box-sizing: border-box !important;
    border: 2px solid #fff !important;
    font-size: 16px !important;
}

.dropdown-menu li a:hover {
    background-color: #fff !important;
    color: #d7182a !important;
    border-bottom-color: #fff !important;
}

ul#menu a:focus {
    color: #d7182a;
    background-color: #fff;
}

/*Efeito de bordas brancas do menu para resoluções desktop*/
@media (min-width: 768px) {

    ul#menu a:hover {
        border: 2px solid #fff;
    }

    /*CSS do nome da marca*/
    .navbar-brand {
        font-weight: bold;
        color: #fff !important;
        font: 24px serif !important;
        padding-top: 10px !important;
    }
}


@media (max-width: 767px) {

    /*CSS das li do menu hamburguer*/
    ul#menu a {
        color: #fff;
        background-color: #d7182a;
        text-align: center;
        border: none;
    }

    /*Bordas das li do menu hamburguer*/
    ul#menu li:nth-child(1) a,
    ul#menu li:nth-child(2) a {
        border-bottom:  1px solid #fff;
        padding-bottom: 15px;
    } 

    /*CSS do menu hamburguer*/
    ul#menu {
        background-color: #d7182a;
    }

    /*Borda do menu hamburguer*/
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }

    /*Barrinhas do menu hamburguer*/
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: #fff;    
    }

    /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #d7182a;
    }

}


/*CSS banner*/

.banner {
    width: 100%;
    height: 413px;
    background: url(../img/superstars_bg2.jpg) center no-repeat;
    background-size: cover;    
}


/*CSS texto do banner*/

.main {
    max-width: 1140px;
}

.main h2,
.main h3 {
    color: #fff;
    text-align: left;
    padding-left: 15px;
}


/*CSS texto do banner*/

.main h2 {
    padding-right: 15px;
}


/*CSS texto do banner*/

.main .presentation {
    background: rgba(35, 40, 40, 0.8);
    margin-top: 220px;
    margin-left: 15px;
    display: inline-block;
}


/*CSS News*/

.weekly {
    margin-top: 40px;
    padding: 0;
    max-width: 1140px;
}

.weekly h2 {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    color: #141516;
}

.separador {
    width: 100px;
    height: 3px;
    background-color: #141516;
    margin: auto;
    margin-top: 6px;
}


/*CSS da Seção Home-How to Play*/

.play {
     padding-top: 40px;
 }
.play h2 {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    color: #141516;
}

.play .row {
    padding: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1080px;
}

.play h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #d7182a;    
}

.play p {
    text-align: center;
    font-size: 18px;
    width: 188px;
    font-weight: bold;
}

.play .wwe p {
    width: 200px;
}

.play .account img {
    margin-left: 46px;
}

.play .team h3,
.play .team p {
    margin-left: 21px;
}

.play .wwe img {
    margin-left: 43px;
}

.play .score img {
    margin-left: 7px;
}

.play .account,
.play .wwe, 
.play .score {
    padding-left: 25px;
    background-color: #f2f2f2;
    width: 240px;
    margin-right: 40px;
    padding-top: 16px; 
}

.play .score {
    margin-right: 0;
}

.play .account {
    padding-bottom: 25px;
}

.play .account h3 {
    margin-top: 10px;
}

.play .team {
    padding-left: 10px;
    background-color: #f2f2f2;
    width: 240px;
    padding-top: 16px;
    margin-right: 40px;
}


/* CSS DA PÁGINA HOW TO PLAY */

.how-to-play {
    max-width: 1140px;
    padding-left: 120px;
    padding-right: 120px;
}

.how-to-play h2 {
    text-align: center;
    color: #d7182a;
    text-shadow: 0px 2px 3px #141516;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.how-to-play .head {
    height: 55px;
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    margin-bottom: 20px;
}

.how-to-play .head h3 {
    font-size: 22px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin: 17px 0 0 20px;
}

.how-to-play .description,
.how-to-play .note {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 60px;
}

.how-to-play .description p {
    font-size: 20px;
    color: #000;
}

.how-to-play .note {
    background-color: #a9aeb3;
    color: #232828;
    padding: 25px;
}

.how-to-play .note p {
    color: #232828;
    font-size: 16px;
}

.how-to-play .note span {
    font-size: 16px;
    font-weight: bold;
}


/*CSS texto do rodapé*/

.social {
    background-color: #d7182a;
}

.copy {
    height: 35px;
    background-color: #141516;
}

.copy-container {
    max-width: 1140px;
}

.footer-container {
    max-width: 1140px;
}

.social ul {
    overflow: hidden;
    padding-left: 0;
    margin-top: 13px;
    list-style: none;
}
.social ul li {
    float: left;   
}

.social a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px; 
}

.social a:hover {
    text-decoration: underline;
}

.logo_footer {
    margin-top: 17px;
    display: inline-block;
}

#media {
    float: right;
    margin-top: 30px;
    margin-right: 0;
}

#media img {
    border-radius: 3px;
}

.copy p {
    float: right;
    color: #d9e0e6;
    margin-top: 7px;
    margin-bottom: 8px;
}

.copy p span {
    font-weight: bold;
}



/*CSS DA PÁGINA INICIAL DO USUÁRIO*/

.user-panel {
    margin-top: 50px;
    margin-bottom: 70px;
}

.user-panel .row {
    max-width: 1140px;
}


/*SEÇÃO PERFIL*/

.profile {    
    margin: auto;
    height: 230px;
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    padding-right: 25px;
}  

.profile .user-info {
    display: inline-block;
    margin: 25px 0 0 20px;
    float: left;
}

.user-info p a {
    font-size: 19px;
    text-decoration: none;
    color: #fff;
}

.user-info p a:hover {
    text-decoration: underline;
}

.avatar {
    height: 175px;
    width: 175px;
    margin: 25px 0 0 15px;
    border-radius: 87px;
    float: left;
    box-shadow: 0px 3px 6px #141516;
}

.profile .user-info h2 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 22px;
    width: 218px;
    height: 125px;
}

.profile .user-info h3 {
    font-size: 22px;
    color: #fff;
    margin: 0px;
}

.profile .profile-raw,
.profile .profile-smd,
.profile .profile-srank {
    float: right;
    display: inline-block;
    margin: 25px 0 0 5px;
    width: 200px;
}

.profile .profile-smd,
.profile .profile-srank {
    margin-left: 35px;
}

.profile .profile-raw h2,
.profile .profile-smd h2,
.profile .profile-srank h2 {
    margin: 0;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.profile .profile-raw h3,
.profile .profile-smd h3,
.profile .profile-srank h3 {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 80px;
    color: #fff;
    text-align: right;
    font-weight: bold;
}

.profile .profile-raw p,
.profile .profile-smd p,
.profile .profile-srank p {
    margin-top: -8px;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.profile .divisor {
    height: 162px;
    width: 2px;
    margin: 25px 0 0 50px;
    background-color: #ba1424;
    float: right;
}


/* SEÇÃO RAW */

.brand-section {
    margin: auto;
    margin-top: 35px;
}

.brand-section .head {
    height: 65px;
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    margin-bottom: 7px;
}

.brand-section .head h2 {
    font-size: 30px;
    color: #fff;
    text-align: left;
    display: inline-block;
    font-weight: bold;
    margin: 17px 0 0 20px;
}

.brand-section .head p {
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin: 12px 20px 0 0;
}

.brand-section .head .market-open {
    color: #00ff00;
    text-shadow: 0px 3px 6px #00531b;
}

.brand-section .head .market-closed {
    color: #a9aeb3;
    text-shadow: 0px 3px 6px #141516;
}

.brand-team {
    overflow: hidden;
}

.brand-section .brand-team div {
    width: 225px;
    height: 225px;
    float: left;
    margin-top: 10px;
}

.brand-section .brand-team .team-info {
    width: 225px;
    height: 225px;
    float: left;
    margin-top: 10px;
}

.brand-section .brand-team ul {
    list-style: none;
    padding: 8px 0 0 20px;
}

.brand-section .team-info ul li {
    color: #141516;
    font-size: 19px;
    margin-bottom: 5px;
}

.brand-section .brand-team ul li p {
    font-weight: bold;
}

.brand-section .brand-team ul li:nth-child(1) p,
.brand-section .brand-team ul li:nth-child(2) p {
    float: right;
    margin-bottom: 0;
}

.brand-section .brand-team ul li:nth-child(3) p {
    float: right;
    margin-bottom: 0;
    text-align: right;
    width: 147px;
}

.brand-section .brand-team ul li:nth-child(4) {
    font-size: 52px;
    font-weight: bold;
}

.brand-section .brand-team ul .raw-cash {
    color: #d7182a;
}

.brand-section .brand-team ul .smd-cash {
    color: #3b30fe;
}

.brand-section .brand-team ul .ppv-cash {
    color: #232828;
}

.brand-section .brand-team ul a {
    text-decoration: none;
}

.brand-section .brand-team ul a li {
    height: 40px;
    border: 2px solid #d7182a;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #d7182a;
}
.brand-section .brand-team ul a:hover li {
    background-color: #d7182a;
    color: #fff;
}

.brand-section .brand-team img {
    width: 215px;
    height: 215px;
    background-color: #000;
    margin: 8px 0 0 10px;
    border: 3px solid #141516;
    position: absolute;
    z-index: -1;
}

.brand-section .brand-team .star-name {
    width: 209px;
    height: 30px;
    margin: 190px 0 0 13px;

}

.brand-section .brand-team .raw-bg {
    background: rgba(215, 24, 42, 0.75);
}

.brand-section .brand-team .smd-bg {
    background: rgba(59, 48, 254, 0.75);
}

.brand-section .brand-team .ppv-bg {
    background: rgba(35, 40, 40, 0.75);
}

.brand-section .brand-team .star-name p {
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 2px;
}

.login, .register {
    padding-top: 70px;
    min-height: 93vh;
    max-width: 1349px;
}

.panel-default > .login-heading,
.panel-default > .register-heading {
    background-color: #d7182a;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 3px 6px #141516;
}

.login-body,
.register-body {
    background-color: #d9e0e6;
}



@media (max-width: 767px) {

    /* HEADER */

    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-brand {
        padding-top: 13px;
    }

    .navbar-brand img {
        width: 150px;
    }

    .navbar-toggle {
        padding: 8px 7px;
        margin-top: 13px;
        margin-bottom: 5px;
    }


    /* HOW TO PLAY DA HOME PÚBLICA */

    .play .row {
        width: 240px;
    }

    .play .account, .play .team, 
    .play .wwe, .play .score {
        margin-top: 15px;
    }


    /* BOX DE USER-INFO */

    .user-panel {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .user-panel .row {
        max-width: 280px;
   }

    .profile {
        padding: 15px;
        height: auto; 
        margin-bottom: 35px;       
    }

    .avatar {
        height: 120px;
        width: 120px;
        margin: 0;
    }

    .profile .user-info {
        margin: 4px 0 0 20px;
        float: left;
        height: 120px;
    }

    .profile .user-info h3,
    .profile .user-info h2 {
        font-size: 14px;
    }

    .profile .user-info h2 {
        height: 65px;
        max-width: 110px;
        overflow: hidden;
        letter-spacing: 0.03em;
    }

    .profile .profile-raw h2,
    .profile .profile-smd h2,
    .profile .profile-srank h2 {
        font-size: 15px;
    }

    .profile .profile-raw h3, 
    .profile .profile-smd h3, 
    .profile .profile-srank h3 {
        font-size: 35px;
    }

    .profile .profile-raw p, 
    .profile .profile-smd p, 
    .profile .profile-srank p {
        font-size: 19px;
        margin: 0;
    }

    .user-info p a {
        font-size: 14px;
    }

    .profile .profile-raw, 
    .profile .profile-smd, 
    .profile .profile-srank {
        margin: 0;
        margin-top: 25px;
        width: 100px;
        float: left;
    }

    .profile .divisor {
        height: 74px;
        margin: 33px 0px 0 48px;
        float: left;
    }


    /* SEÇÃO DOS TIMES DO USUARIO */
    
    /* BOX DE NOME DA BRAND */
    .brand-section {
        margin-top: 0;
        margin-bottom: 70px;
    }

    .brand-section .head {
        height: 43px;
        margin-bottom: 7px;
        letter-spacing: 0.01em;
    }

    .brand-section .head h2 {
        font-size: 18px;
        margin: 13px 0 0 13px;
    }

    .brand-section .head p {
        font-size: 18px;
        margin: 10px 13px 0 0;
    }

    /* BOX INFO DA BRAND */

    .brand-team {
        padding-left: 15px;
    }

    .brand-section .brand-team .team-info {
        width: 257px; 
        height: 160px;
        margin-top: 0px;
   }

    .brand-section .brand-team .info-ppv {
        height: 105px;
    }

    .brand-section .brand-team ul {
        padding-top: 7px;
        padding-left: 0;
    }

    .brand-section .team-info ul li {
        font-size: 18px;
        margin-bottom: 7px;
    }

    .brand-section .brand-team ul li:nth-child(3) {
        margin-bottom: 0;
    }

    .brand-section .brand-team ul li:nth-child(3) p {
        width: 130px;
    }

    .brand-section .brand-team ul li:nth-child(4) {
        text-align: right;
        font-size: 40px;
        margin-bottom: 0;
    }

    .brand-section .brand-team ul a {
        display: none;
    }


    .brand-section .brand-team div {
        width: 132px; 
        height: 132px;
        margin-top: 0px;
    }

    .brand-section .brand-team img {
        width: 125px; 
        height: 125px;
        margin: 0px;
    }

    .brand-section .brand-team .star-name {
        width: 119px; 
        margin: 92px 0 0 3px; 
    }

    .brand-section .brand-team .star-name p {
        font-size: 12px;
        padding-top: 8px;
    }

    .brand-section .brand-team .mobile-market-btn {
        width: 170px;
        height: 40px;
        margin-top: 20px;
        margin-left: 47px;
        padding-top: 8px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 3px 6px #676767;
        margin-bottom: 5px;        
    }

    .brand-section .brand-team .mobile-market-btn a {
        width: 170px;
        height: 40px;
        color: #fff;
        text-decoration: none;
    }

    .brand-section .brand-team .ppv-btn {
        border: 2px solid #141516;
        background-color: #141516;
    }

    .brand-section .brand-team .smd-btn {
        border: 2px solid #3b30fe;
        background-color: #3b30fe;
    }

    .brand-section .brand-team .raw-btn {
        border: 2px solid #d7182a;
        background-color: #d7182a;
    }


    /* FOOTER */

    .logo_footer img {
        width: 150px;
    }

    #media {
        margin-top: 22px;
    }

    #media img {
        width: 25px;
    }

    .social ul {
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .social a {
        font-size: 14px;
        margin-right: 17px;
    }

    .nav-container {
        max-width: 593px;
    }

    .footer-container {
        max-width: 593px;
    }

    .copy-container {
        max-width: 593px;
    }

}



@media (min-width: 768px) and (max-width: 991px) {
    
    ul#menu a {
        font-size: 16px;
    }

    .main {
        max-width: 721px;
    }

    .nav-container {
        max-width: 721px;
    }

    .footer-container {
        max-width: 721px;
    }

    .copy-container {
        max-width: 721px;
    }

    .play .row {
        width: 721px;
    }

    .play .team, .play .account {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .play .account, .play .wwe {
        margin-left: 100px;
        margin-right: 40px;
    }

    .avatar {
        height: 120px;
        width: 120px;
    }

    .profile .user-info h3,
    .profile .user-info h2 {
        font-size: 18px;
        width: 150px;
    }

    .profile .user-info h2 {
        height: 75px;
    }

    .profile .profile-raw h2,
    .profile .profile-smd h2,
    .profile .profile-srank h2 {
        font-size: 20px;
    }

    .profile .profile-raw, 
    .profile .profile-smd, 
    .profile .profile-srank {
        width: 150px;
    }

    .profile .profile-raw h3, 
    .profile .profile-smd h3, 
    .profile .profile-srank h3 {
        font-size: 60px;
    }

    .profile .profile-smd, 
    .profile .profile-srank {
        margin-left: 25px;
    }

    .user-info p a {
        font-size: 16px;
    }

    .profile .divisor {
        height: 125px;
    }

    .profile {
        height: 180px;
    }

    .user-panel .row {
        max-width: 721px;
    }

    .brand-section {
        margin-top: 40px; 
    }

    .brand-section .head h2 {
        font-size: 20px;
        margin: 13px 0 0 20px;
    }

    .brand-section .head p {
        font-size: 20px;
        margin: 10px 20px 0 0;
    }

    .brand-section .head {
        height: 47px;
         margin-bottom: 7px;
        letter-spacing: 0.1em; 
    }

    .brand-team {
        padding-left: 3px;
    }

    .brand-section .brand-team .team-info {
         width: 143px; 
         height: 143px;
         margin-top: 3px;
    }

    .brand-section .brand-team div {
         width: 143px; 
         height: 143px;
        margin-top: 3px;
    }

    .brand-section .brand-team img {
        width: 133px; 
        height: 133px;
        margin-top: 9px;
    }

    .brand-section .brand-team .star-name {
        width: 125px; 
        margin: 109px 0 0 14px; 
    }

    .brand-section .brand-team .star-name p {
        font-size: 11px;
        padding-top: 8px;
    }

    .brand-section .brand-team ul {
        padding-top: 7px;
        padding-left: 0;
    }

    .brand-section .team-info ul li {
        font-size: 14px;
        margin-bottom: 0;
    }

    .brand-section .brand-team ul li:nth-child(3) p {
        width: 106px;
    }

    .brand-section .brand-team ul li:nth-child(4) {
        font-size: 25px;
    }

    .brand-section .brand-team ul a li {
        padding-top: 8px;
        font-size: 16px;
    }

    .brand-section .brand-team .mobile-market-btn,
    .brand-section .brand-team .mobile-market-btn a {
        display: none;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .main {
        max-width: 945px;
    }

    .nav-container {
        max-width: 945px;
    }

    .footer-container {
        max-width: 945px;
    }

    .copy-container {
        max-width: 945px;
    }

    .play .row {
        width: 945px;
    }
    
    .play .account, .play .team, 
    .play .wwe, .play .score {
        width: 225px;
        margin: 0;
    }

    .play .account, .play .team, 
    .play .wwe {
         margin-right: 15px; 
    }

    .play .account, .play .wwe, 
    .play .score {
        padding-left: 16px;
    }

    .play .team {
        padding-left: 4px;
    }

    .user-panel .row {
        max-width: 945px;
    }

    .brand-team {
        padding-left: 3px;
    }

    .brand-section .brand-team .team-info {
         width: 186px; 
         height: 186px;
    }

    .brand-section .brand-team div {
         width: 189px; 
         height: 189px;
        margin-top: 10px;
    }

    .brand-section .brand-team img {
        width: 175px; 
        height: 175px;
        margin-top: 9px;
    }

    .brand-section .brand-team .star-name {
        width: 167px; 
        margin: 151px 0 0 14px; 
    }

    .brand-section .brand-team .star-name p {
        font-size: 14px;
        padding-top: 5px;
    }

    .brand-section .brand-team ul {
        padding-top: 7px;
        padding-left: 0;
    }

    .brand-section .team-info ul li {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .brand-section .brand-team ul li:nth-child(3) p {
        width: 133px;
    }

    .brand-section .brand-team ul li:nth-child(4) {
        font-size: 39px;
    }

    .brand-section .brand-team .mobile-market-btn,
    .brand-section .brand-team .mobile-market-btn a {
        display: none;
    }
}

@media (min-width: 1200px) {
    .brand-section .brand-team .mobile-market-btn,
    .brand-section .brand-team .mobile-market-btn a {
        display: none;
    }
}
