* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    background-color: #ededed;
}

/*CSS do menu*/
.navbar {
    background-color: #141516;
    margin-bottom: 0;
    border: none;
}

.nav-container {
    max-width: 1200px;
    padding: 0;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-brand {
    margin-bottom: 13px;
    padding-top: 13px;
}

.navbar-brand > img {
    width: 175px;
    margin-top: 1px;
    margin-left: 10px;
}

.navbar-right {
    margin-right: 0;
}

.navbar-left {
    margin-left: 40px;
}

#menu-public li a {
    color: #fff;
    padding: 9px;
    margin-right: 10px;
    border: 2px solid #d7182a;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 12px;
}

#menu-public li a:hover {
    border: 2px solid #fff;
}

#menu-user li a {
    color: #fff;
    padding: 9px;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 14px;
}

#menu-user li a:hover {
    color: #d7182a;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
    color: #d7182a !important;
    background-color: #141516 !important;
}

.avatar-nav {
    height: 32px;
    width: 32px;
    margin: -6px 10px 0 0;
    border-radius: 87px;
    float: left;
}

#menu-user .user-dropdown a {
    margin-right: 0;
    padding-right: 0;
}

#menu-user .dropdown-menu {
    background-color: #1f2020;
    margin-top: 8px;
    border: none;
}

#menu-user .dropdown-menu a {
    padding: 5px;
    margin-right: 0;
    font-size: 16px;
    margin-top: 0;
    border: none ;
    text-align: center;
}

#menu-user .dropdown-menu a:hover {
    background-color: transparent;
}

/* BANNER PLAY-FREE */

.play-free {
    background: url(../img/play_free.jpg) center no-repeat;
    background-color: #000;
    width: 100%;
    height: 528px;
}

 .superstars-banner {
    margin-left: -65px;
    margin-top: 102px;
 }

 .superstars-banner img {
     width: 641px;
 }

 .play-free h2 {
     font-size: 48px;
     font-weight: bold;
     color: #fff;
     text-transform: uppercase;
     display: block;
     margin-top: 165px;
     margin-left: 15px;
 }

 .play-free p {
     font-size: 24px;
     color: #fff;
     display: block;
     margin-left: 15px;
 }

 .play-free p:nth-of-type(1) {
     color: #d7182a;
 }

 .play-free p:nth-of-type(2) {
     margin-top: 40px;
     display: inline-block;
 }

 .play-free .play-free-btn {
     display: inline-block;
     margin-left: 45px;
 }

 .play-free .play-free-btn a {
     text-decoration: none;
     width: 248px;
     height: 72px;
     border: 4px solid #d7182a;
     border-radius: 4px;
     display: inline-block;
     text-align: center;
     font-size: 24px;
     color: #fff;
     font-weight: bold;
     text-transform: uppercase;
     padding-top: 13px;
 }

 .play-free .play-free-btn a:hover {
     border-color: #fff;
 }

/*  ICONE DE NOTIFICAÇÃO

.notification-div {
    display: block;
    position: absolute;
    right: 18.5em;
    top: 1.3em;
}

.fa-bell {
    font-size: 20px;
    color: #d7182a;
}

.notification-div .dropdown-menu {
    background-color: #1f2020;
    margin-top: 16px;
    border: none;
}

.notification-div .dropdown-menu a {

}

.notification-div .dropdown-menu a:hover {

}
*/

.user-panel {
    /* margin-top: 50px; */
    margin-bottom: 100px;
    max-width: 1140px;
}

.container-fluid {
    padding: 0;
}

.profile {    
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 2px #95999c;
    padding: 15px 5px;
}

.avatar {
    height: 165px;
    width: 165px;
    border-radius: 100px;
    float: left;
    box-shadow: 0px 2px 0px #95999c;
}

.user-info {
    display: inline-block;
    margin-left:20px;
    float: left;
}

.user-info p a {
    font-size: 19px;
    text-decoration: none;
    color: #fff;
}

.user-info p a:hover {
    text-decoration: underline;
}

.user-info h2 {
    color: #484b4d;
    margin-top: 10px;
    /*margin-bottom: 0px;*/
    font-weight: bold;
    font-size: 30px;
    /*width: 218px;
    height: 125px;*/
}

.user-info h3 {
    font-size: 18px;
    color: #484b4d;
    margin: 0px;
}

/* SECTION-2 */
.section-2 {
    background-color: #d7182a;
    height: 345px;
}

.section-2 .row div:nth-of-type(1) {
    margin-top: 20px;
}

.shadow {
    height: 25px;
    background: url(../img/shadow.png);    
    background-repeat: repeat-x;
}

.section-2 h3 {
    color: #141516;
    font-size: 33px;
    font-weight: bold;
    margin-left: 25px;
}

.section-2 p {
    color: #fff;
    font-size: 20px;
    width: 400px;
    margin-top: 20px;
    margin-left: 25px;
}

.section-2 img {
    width: 750px;
    margin-left: -100px;
}


/* SECTION-3 */
.section-3 {
    background-color: #fff;
    height: 345px;
}

.section-3 .row {
    margin-top: 83px;
}

.section-3 .row div:nth-of-type(1) {
    margin-top: -30px;
}

.section-3 .row div:nth-of-type(2) {
    margin-top: -83px;
}

.section-3 img {
    height: 345px;
    margin-left: 15px;
}

.section-3 h3 {
    color: #d7182a;
    font-size: 33px;
    font-weight: bold;
    margin-left: 80px;
}

.section-3 p {
    color: #141516;
    font-size: 20px;
    width: 429px;
    margin-top: 20px;
    margin-left: 80px;
}


/* SECTION-4 */
.section-4 {
    background: url(../img/section-4-banner.jpg) center no-repeat;
    background-color: #d7182a;
    width: 100%;
    height: 345px;
}

.section-4 img {
    margin-top: -10px;
    margin-left: 75px;
    width: 440px;
}

.section-4 h3 {
    color: #141516;
    font-size: 33px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 100px;
}

.section-4 p {
    color: #fff;
    font-size: 20px;
    width: 370px;
    margin-top: 20px;
    margin-left: 48px;
}

footer {
    background-color: #141516;
}

footer .row div {
    padding: 0;
}

.footer-menu {
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-menu div > div {
    width: 210px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 7px;
    opacity: 0.7;
}

.footer-menu ul li a:hover {
    opacity: 1;
    color: #d7182a;
}

.footer-menu ul li:first-child {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

.footer-logo {
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-logo ul {
    list-style: none;
    padding: 0;
}

.footer-logo ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    letter-spacing: 0.06em;
}

.footer-logo ul li:last-child {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    opacity: 0.7;
}

.footer-logo img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {

    .nav-container {
        max-width: 945px;
    }

    #menu-public li a {
        padding: 6px;
    }

    #menu-user .dropdown-menu {
        min-width: 140px;
    }

    .navbar-brand>img {
        width: 165px;
        margin-top: 3px;
    }

    .row {
        max-width: 945px;
        margin: 0 auto;
    }

    .play-free {
        height: 397px;
    }

    .play-free h2 {
        font-size: 38px;
        margin-top: 105px;
        margin-left: 7px;
    }

    .play-free p {
        font-size: 22px;
        margin-left: 7px;
    }

    .superstars-banner img {
        margin-left: 32px;
        margin-top: -46px;
        width: 514px;
    }

    .play-free .play-free-btn a {
        width: 200px;
        height: 63px;
        font-size: 22px;
        padding-top: 11px;
    }

    /* SECTION-2 */
    .section-2 {
        height: 304px;
    }

    .section-2 h3 {
        font-size: 26px;
        margin-left: 45px;
    }

    .section-2 p {
        font-size: 17px;
        width: 361px;
        margin-left: 45px;
    }

    .section-2 img {
        width: 649px;
    }

    /* SECTION-3 */
    .section-3 {
        height: 289px;
    }

    .section-3 h3 {
        font-size: 26px;
        margin-left: 35px;
        margin-top: 10px;
    }

    .section-3 p {
        font-size: 17px;
        width: 361px;
        margin-left: 35px;
    }

    .section-3 img {
        height: 289px;
        margin-left: 46px;
    }

    .section-3 .row div:nth-of-type(1) {
        margin-top: -45px;
    }

    /* SECTION 4 */
    .section-4 {
        height: 304px;
    }

    .section-4 img {
        margin-top: -18px;
        margin-left: 25px;
        width: 400px;
    }

    .section-4 h3 {
        font-size: 26px;
        margin-left: 26px;
        margin-top: 90px;
    }

    .section-4 p {
        font-size: 17px;
        width: 314px;
        margin-left: 29px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .nav-container {
        max-width: 721px;
    }

    .navbar-left {
        margin-left: 18px;
    }

    #menu-public li a {
        padding: 6px;
    }

    #menu-user li a {
        margin-right: 0;
        font-size: 14px;
    }


    #menu-user .dropdown-menu {
        min-width: 110px;
    }

    #menu-user .dropdown-menu a {
        font-size: 14px;
    }

    .navbar-brand {
        margin-bottom: 10px;

    }

    .navbar-brand > img {
        width: 160px;
        margin-top: 3px;
    }

    .row {
        max-width: 721px;
        margin: 0 auto;
    }

    .play-free {
        height: 321px;
    }

    .play-free .row div:nth-of-type(1) {
        padding-left: 0;
    }

    .play-free h2 {
        font-size: 29px;
        margin-top: 87px;
        margin-left: 0px;
    }

    .play-free p {
        font-size: 20px;
        margin-left: 0px;
    }

    .superstars-banner {
        margin-left: 0;
    }

    .superstars-banner img {
        margin-left: -32px;
        margin-top: -47px;
        width: 401px;
    }

    .play-free .play-free-btn {
        margin-left: 30px;
    }

    .play-free .play-free-btn a {
        width: 156px;
        height: 50px;
        font-size: 20px;
        padding-top: 7px;
    }

    /* SECTION-2 */
    .section-2 {
        height: 233px;
    }

    .section-2 h3 {
        font-size: 21px;
        margin-left: 15px;
    }

    .section-2 p {
        font-size: 15px;
        width: 319px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .section-2 img {
        width: 470px;
        margin-left: -80px;
    }

    /* SECTION-3 */
    .section-3 {
        height: 233px;
    }

    .section-3 h3 {
        font-size: 21px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .section-3 p {
        font-size: 15px;
        width: 319px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .section-3 .row div:nth-of-type(1) {
        margin-top: -50px;
    }

    .section-3 .row div:nth-of-type(2) {
        margin-top: -83px;
        float: right;
    }

    .section-3 img {
        height: 233px;
        margin-left: 7px;
    }

    /* SECTION 4 */
    .section-4 {
        height: 233px;
    }

    .section-4 img {
        margin-top: -9px;
        margin-left: 40px;
        width: 300px;
    }

    .section-4 h3 {
        font-size: 21px;
        margin-left: 29px;
        margin-top: 60px;
    }

    .section-4 p {
        font-size: 15px;
        width: 244px;
        margin-left: 29px;
    }

    /* FOOTER */
    .footer-menu div > div {
        width: 180px;
        float: left;
        padding-left: 60px;
    }

    .footer-menu ul li:first-child {
        font-size: 14px;
    }

    .footer-menu ul li a {
        font-size: 12px;
    }

    .footer-logo ul li a {
        font-size: 16px;
    }

    .footer-logo ul li:last-child {
        font-size: 12px;
    }

    .footer-logo img {
        width: 30px;
        height: 30px;
    }
}


@media (min-width: 576px) and (max-width: 767px) {

    .navbar {
        padding-right: 10px;
    }

    .navbar-brand > img {
        width: 160px;
    }

    .nav>li {
        text-align: center;
    }
    
    .avatar-nav {
        display: none;
    }
    
    .navbar-right, .navbar-left  {
        margin-left: 40px;
        margin-right: 40px;
    }
        
    .navbar-right {
        margin-bottom: 25px;
    }
    
    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form {
        border-color: #000;
    }
    
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    
    /*CSS das li do menu hamburguer*/
    #menu-user li a {
        color: #fff;
        background-color: #1f2020;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 4px;
        margin-right: 0
    }

    #menu-public li a {
        width: 200px;
        margin: 0 auto;
        margin-top: 12px;
    }
        
    /*Barrinhas do menu hamburguer*/
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
        
        /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;    
    }
        
        /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #d7182a;
    }
    
    #menu-user .dropdown-menu {
        margin-top: 0;
    }
    
    .navbar-toggle {
        padding: 8px 7px;
        margin-top: 13px;
        margin-bottom: 5px;
    }
    
    /* BANNER PLAY-FREE */
    
    .row {
        max-width: 576px;
        margin: 0 auto;
    }

    .play-free {
        height: 496px;
    }
    
    .play-free h2 {
        font-size: 36px;
        text-align: center;
        margin-left: 0;
        margin-top: 35px;
    }
    
    .play-free p {
        font-size: 20px;
        color: #fff;
        display: block;
        margin-left: 0;
        text-align: center;
    }
    
    .play-free p:nth-of-type(2) {
        margin-top: 30px;
        display: block;
    }
    
    .play-free .play-free-btn {
        display: block;
        margin-left: 0;
    }
    
    .play-free .play-free-btn a {
        width: 191px;
        height: 60px;
        font-size: 20px;
        padding-top: 15px;
        display: block;
        margin: auto;
        background-color: #d7182a;
        box-shadow: 0px 4px 0px #670901;
        border: none;
    }

    .play-free .play-free-btn a:active {
        background-color: #a21623;
        box-shadow: 0px 3px 0px #290401;
        transform: translateY(3px);
    }
    
    .superstars-banner {
        margin: auto;
        margin-top: 38px;
    }
    
    .superstars-banner img {
        width: 270px;
        display: block;
        margin: auto;
    }

    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    /* SECTION-2 */
    .section-2 {
        height: 233px;
    }

    .section-2 .row div:nth-of-type(1) {
        float: right;
        position: relative;
        top: 100px;
        right: 45px;
    }

    .section-2 h3 {
        font-size: 23px;
        display: block;
        width: 366px;
        margin: 0 auto;
    }

    .section-2 p {
        font-size: 15px;
        display: block;
        width:366px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .section-2 .row p:nth-of-type(2) {
        width: 200px;
        margin-left: 90px;
    }

    .section-2 img {
        width: 220px;
    }

    /* SECTION-3 */
    .section-3 {
        height: 206px;
    }

    .section-3 h3 {
        font-size: 23px;
        display: block;
        width: 366px;
        margin: 0 auto;
    }

    .section-3 p {
        font-size: 15px;
        display: block;
        width: 366px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .section-3 .row div:nth-of-type(1) {
        margin-top: -35px;
        z-index: 1;
    }

    .section-3 .row div:nth-of-type(2) {
        margin-top: -168px;
        margin-left: 265px;
    }

    .section-3 img {
        height: 197px;
        display: block;
        margin: auto;
        opacity: 0.7;
    }

    /* SECTION 4 */
    .section-4 {
        height: 230px;
    }

    .section-4 img {
        width: 205px;
        margin: 0;
    }

    .section-4 .row div:nth-of-type(1) {
        position: relative;
        top: 65px;
        left: 263px;
        width: 232px;
    }

    .section-4 .row div:nth-of-type(2) {
        /* z-index: 1; */
        /* top: -155px; */
        margin-top: -155px;
    }

    .section-4 h3 {
        font-size: 23px;
        display: block;
        width: 366px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .section-4 p {
        font-size: 15px;
        width: 170px;
        margin-top: 15px;
        margin-left: 91px;
    }

    /* FOOTER */
    footer {
        padding-bottom: 60px;
    }

    .footer-logo {
        width: 360px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .footer-menu {
        width: 360px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .footer-menu div > div {
        width: 180px;
        float: left;
    }

    .footer-menu div > div:nth-of-type(3) {
        float: none;
    }

    .footer-menu div > div:nth-of-type(1) {
        margin-bottom: 20px;
    }

    .footer-menu ul li:first-child {
        font-size: 14px;
    }

    .footer-menu ul li a {
        font-size: 12px;
    }

    .footer-logo ul li a {
        font-size: 16px;
    }

    .footer-logo ul li:last-child {
        font-size: 12px;
    }

    .footer-logo img {
        width: 30px;
        height: 30px;
    }
    
}

@media (max-width: 575px) {

    .nav>li {
        text-align: center;
    }

    .avatar-nav {
        display: none;
    }

    .navbar-right, .navbar-left  {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .navbar-right {
        margin-bottom: 25px;
    }

    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form {
        border-color: #000;
    }

    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    /*CSS das li do menu hamburguer*/
    #menu-user li a {
        color: #fff;
        background-color: #1f2020;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 4px;
        margin-right: 0
    }
    
    /*Barrinhas do menu hamburguer*/
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    
    /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;    
    }
    
    /*Efeito do menu hamburguer clicado*/
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #d7182a;
    }

    #menu-user .dropdown-menu {
        margin-top: 0;
    }

    .navbar-brand {
        margin-bottom: 9px;
    }

    .navbar-brand > img {
        width: 160px;
    }

    .navbar-toggle {
        padding: 8px 7px;
        margin-top: 13px;
        margin-bottom: 5px;
    }

    /* BANNER PLAY-FREE */

    .play-free {
        height: 518px;
    }

    .row {
        max-width: 320px;
        margin: 0 auto;
    }

    .play-free h2 {
        font-size: 34px;
        text-align: center;
        width: 273px;
        margin: 0 auto;
        margin-top: 35px;
    }

    .play-free p {
        font-size: 20px;
        color: #fff;
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .play-free p:nth-of-type(2) {
        margin-top: 30px;
        display: block;
    }

    .play-free .play-free-btn {
        display: block;
        margin-left: 0;
    }
    
    .play-free .play-free-btn a {
        width: 191px;
        height: 60px;
        font-size: 20px;
        padding-top: 15px;
        display: block;
        margin: auto;
        background-color: #d7182a;
        box-shadow: 0px 4px 0px #670901;
        border: none;
    }

    .play-free .play-free-btn a:active {
        background-color: #a21623;
        box-shadow: 0px 3px 0px #290401;
        transform: translateY(3px);
    }

    .superstars-banner {
        margin-left: 18px;
        margin-top: 42px;
    }

    .superstars-banner img {
        width: 207px;
        display: block;
        margin: auto;
    }

    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    #menu-public li a {
        width: 200px;
        margin: 0 auto;
        margin-top: 12px;
    }

    /* SECTION-2 */
    .section-2 {
        height: 301px;
    }

    .section-2 .row div:nth-of-type(1) {
        top: 180px;
    }

    .section-2 .row div:nth-of-type(2) {
        top: -117px;
    }

    .section-2 h3 {
        font-size: 17px;
        display: block;
        width: 175px;
        margin: 0 auto;
    }

    .section-2 p {
        font-size: 13px;
        display: block;
        width: 175px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .section-2 img {
        width: 190px;
        margin-left: 50px;
    }

    /* SECTION-3 */
    .section-3 {
        height: 328px;
    }

    .section-3 h3 {
        font-size: 17px;
        display: block;
        width: 197px;
        margin: 0 auto;
        padding-left: 10px;
    }

    .section-3 p {
        font-size: 13px;
        display: block;
        width: 175px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .section-3 img {
        height: 193px;
        opacity: 0.8;
    }

    .section-3 .row div:nth-of-type(1) {
        margin-top: -47px;
        z-index: 1;
    }

    /* SECTION-4 */
    .section-4 img {
        width: 207px;
        display: block;
        margin: auto;
    }

    .section-4 {
        height: 312px;
    }

    .section-4 img {
        width: 207px;
        display: block;
        margin: 0 auto;
    }

    .section-4 .row div:nth-of-type(1) {
        top: 146px;
    }

    .section-4 .row div:nth-of-type(2) {
        z-index: 1;
        margin-top: -140px;
    }

    .section-4 h3 {
        font-size: 17px;
        display: block;
        width: 200px;
        margin: 0 auto;
        padding-left: 10px;
    }

    .section-4 p {
        font-size: 13px;
        display: block;
        width: 175px;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* FOOTER */
    footer {
        padding-bottom: 60px;
    }

    .footer-logo {
        width: 160px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .footer-menu {
        width: 160px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .footer-menu ul li:first-child {
        font-size: 14px;
    }

    .footer-menu ul li a {
        font-size: 12px;
    }

    .footer-logo ul li a {
        font-size: 16px;
    }

    .footer-logo ul li:last-child {
        font-size: 12px;
    }

    .footer-logo img {
        width: 30px;
        height: 30px;
    }
}











/*CSS do menu para resoluções desktop*/



/*Efeito de bordas brancas do menu para resoluções desktop*/
@media (min-width: 768px) {

    ul#menu a:hover {
        border: 2px solid #fff;
    }

    /*CSS do nome da marca*/
    .navbar-brand {
        font-weight: bold;
        color: #fff !important;
        font: 24px serif !important;
        padding-top: 10px !important;
    }
}


/*CSS banner*/

.banner {
    width: 100%;
    height: 413px;
    background: url(../img/superstars_bg2.jpg) center no-repeat;
    background-size: cover;    
}


/*CSS texto do banner*/

.main {
    max-width: 1140px;
}

.main h2,
.main h3 {
    color: #fff;
    text-align: left;
    padding-left: 15px;
}


/*CSS texto do banner*/

.main h2 {
    padding-right: 15px;
}


/*CSS texto do banner*/

.main .presentation {
    background: rgba(35, 40, 40, 0.8);
    margin-top: 220px;
    margin-left: 15px;
    display: inline-block;
}


/*CSS News*/

.weekly {
    margin-top: 40px;
    padding: 0;
    max-width: 1140px;
}

.weekly h2 {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    color: #141516;
}

.separador {
    width: 100px;
    height: 3px;
    background-color: #141516;
    margin: auto;
    margin-top: 6px;
}


/*CSS da Seção Home-How to Play*/

.play {
     padding-top: 40px;
 }
.play h2 {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    color: #141516;
}

.play .row {
    padding: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1080px;
}

.play h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #d7182a;    
}

.play p {
    text-align: center;
    font-size: 18px;
    width: 188px;
    font-weight: bold;
}

.play .wwe p {
    width: 200px;
}

.play .account img {
    margin-left: 46px;
}

.play .team h3,
.play .team p {
    margin-left: 21px;
}

.play .wwe img {
    margin-left: 43px;
}

.play .score img {
    margin-left: 7px;
}

.play .account,
.play .wwe, 
.play .score {
    padding-left: 25px;
    background-color: #f2f2f2;
    width: 240px;
    margin-right: 40px;
    padding-top: 16px; 
}

.play .score {
    margin-right: 0;
}

.play .account {
    padding-bottom: 25px;
}

.play .account h3 {
    margin-top: 10px;
}

.play .team {
    padding-left: 10px;
    background-color: #f2f2f2;
    width: 240px;
    padding-top: 16px;
    margin-right: 40px;
}


/* CSS DA PÁGINA HOW TO PLAY */

.how-to-play {
    max-width: 1140px;
    padding-left: 120px;
    padding-right: 120px;
}

.how-to-play h2 {
    text-align: center;
    color: #d7182a;
    text-shadow: 0px 2px 3px #141516;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.how-to-play .head {
    height: 55px;
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    margin-bottom: 20px;
}

.how-to-play .head h3 {
    font-size: 22px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin: 17px 0 0 20px;
}

.how-to-play .description,
.how-to-play .note {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 60px;
}

.how-to-play .description p {
    font-size: 20px;
    color: #000;
}

.how-to-play .note {
    background-color: #a9aeb3;
    color: #232828;
    padding: 25px;
}

.how-to-play .note p {
    color: #232828;
    font-size: 16px;
}

.how-to-play .note span {
    font-size: 16px;
    font-weight: bold;
}
.separadorDaImagem{
    margin-top: 53%;
}
.colunaDireita{
    left: 17%;
    font-size: 20px;
    color: #000;
}
/*CSS texto do rodapé*/

.social {
    background-color: #d7182a;
}

.copy {
    height: 35px;
    background-color: #141516;
}

.copy-container {
    max-width: 1140px;
}

.footer-container {
    max-width: 1140px;
}

.social ul {
    overflow: hidden;
    padding-left: 0;
    margin-top: 13px;
    list-style: none;
}
.social ul li {
    float: left;   
}

.social a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px; 
}

.social a:hover {
    text-decoration: underline;
}

.logo_footer {
    margin-top: 17px;
    display: inline-block;
}

#media {
    float: right;
    margin-top: 30px;
    margin-right: 0;
}

#media img {
    border-radius: 3px;
}

.copy p {
    float: right;
    color: #d9e0e6;
    margin-top: 7px;
    margin-bottom: 8px;
}

.copy p span {
    font-weight: bold;
}



/*CSS DA PÁGINA INICIAL DO USUÁRIO*/

/*.user-panel {
    margin-top: 50px;
    margin-bottom: 70px;
}

.user-panel .row {
    max-width: 1140px;
}*/


/*SEÇÃO PERFIL*/

/*.profile {    
    margin: auto;
    height: 230px;
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    padding-right: 25px;
}  */

/* .profile .user-info {
    display: inline-block;
    margin: 25px 0 0 20px;
    float: left;
}*/

/*
.user-info p a {
    font-size: 19px;
    text-decoration: none;
    color: #fff;
}

.user-info p a:hover {
    text-decoration: underline;
}
*/

/*.avatar {
    height: 175px;
    width: 175px;
    margin: 25px 0 0 15px;
    border-radius: 87px;
    float: left;
    box-shadow: 0px 3px 6px #141516;
}*/

/*.profile .user-info h2 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 22px;
    width: 218px;
    height: 125px;
}*/

/*
.profile .user-info h3 {
    font-size: 22px;
    color: #fff;
    margin: 0px;
}*/

.profile .profile-raw,
.profile .profile-smd,
.profile .profile-srank {
    float: right;
    display: inline-block;
    margin: 25px 0 0 5px;
    width: 200px;
}

.profile .profile-smd,
.profile .profile-srank {
    margin-left: 35px;
}

.profile .profile-raw h2,
.profile .profile-smd h2,
.profile .profile-srank h2 {
    margin: 0;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.profile .profile-raw h3,
.profile .profile-smd h3,
.profile .profile-srank h3 {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 80px;
    color: #fff;
    text-align: right;
    font-weight: bold;
}

.profile .profile-raw p,
.profile .profile-smd p,
.profile .profile-srank p {
    margin-top: -8px;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.profile .divisor {
    height: 162px;
    width: 2px;
    margin: 25px 0 0 50px;
    background-color: #ba1424;
    float: right;
}


/* SEÇÃO RAW */

.brand-section {
    margin: auto;
    margin-top: 35px;
}

.brand-section .head {
    height: 65px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px #95999c;
    text-shadow: 0px 2px 1px #000;
    margin-bottom: 7px;
}

.brand-section .head h2 {
    font-size: 30px;
    color: #d7182a;
    text-align: left;
    display: inline-block;
    font-weight: bold;
    margin: 17px 0 0 20px;
}

.brand-section .head p {
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin: 12px 20px 0 0;
}

.brand-section .head .market-open {
    color: #00ff00;
    text-shadow: 0px 2px 1px #000;
}

.brand-section .head .market-closed {
    color: #a9aeb3;
    text-shadow: 0px 2px 1px #000;
}

.brand-team {
    overflow: hidden;
}

.brand-section .brand-team div {
    width: 225px;
    height: 225px;
    float: left;
    margin-top: 10px;
}

.brand-section .brand-team .team-info {
    width: 225px;
    height: 225px;
    float: left;
    margin-top: 10px;
}

.brand-section .brand-team ul {
    list-style: none;
    padding: 8px 0 0 20px;
}

.brand-section .team-info ul li {
    color: #141516;
    font-size: 19px;
    margin-bottom: 5px;
}

.brand-section .brand-team ul li p {
    font-weight: bold;
}

.brand-section .brand-team ul li:nth-child(1) p,
.brand-section .brand-team ul li:nth-child(2) p {
    float: right;
    margin-bottom: 0;
}

.brand-section .brand-team ul li:nth-child(3) p {
    float: right;
    margin-bottom: 0;
    text-align: right;
    width: 147px;
}

.brand-section .brand-team ul li:nth-child(4) {
    font-size: 52px;
    font-weight: bold;
}

.brand-section .brand-team ul .raw-cash {
    color: #d7182a;
}

.brand-section .brand-team ul .smd-cash {
    color: #3b30fe;
}

.brand-section .brand-team ul .ppv-cash {
    color: #232828;
}

.brand-section .brand-team ul a {
    text-decoration: none;
}

.brand-section .brand-team ul a li {
    height: 40px;
    border: 2px solid #d7182a;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #d7182a;
}
.brand-section .brand-team ul a:hover li {
    background-color: #d7182a;
    color: #fff;
}

.brand-section .brand-team img {
    width: 215px;
    height: 215px;
    background-color: #000;
    margin: 8px 0 0 10px;
    border: 3px solid #141516;
    position: absolute;
    z-index: -1;
}

.brand-section .brand-team .star-name {
    width: 209px;
    height: 30px;
    margin: 190px 0 0 13px;

}

.brand-section .brand-team .raw-bg {
    background: rgba(215, 24, 42, 0.75);
}

.brand-section .brand-team .smd-bg {
    background: rgba(59, 48, 254, 0.75);
}

.brand-section .brand-team .ppv-bg {
    background: rgba(35, 40, 40, 0.75);
}

.brand-section .brand-team .star-name p {
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 2px;
}

.login, .register {
    padding-top: 70px;
    min-height: 93vh;
    max-width: 1349px;
}

.panel-default > .login-heading,
.panel-default > .register-heading {
    background-color: #d7182a;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 3px 6px #141516;
}

.login-body,
.register-body {
    background-color: #d9e0e6;
}

.user-panel .alert {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
}



@media (max-width: 767px) {

    /* HEADER */

    .navbar {
        padding-right: 10px;
    }
/*
    .navbar-brand {
        padding-top: 13px;
    }

    .navbar-brand img {
        width: 150px;
    }
*/

    /* HOW TO PLAY DA HOME PÚBLICA */

    .play .row {
        width: 240px;
    }

    .play .account, .play .team, 
    .play .wwe, .play .score {
        margin-top: 15px;
    }


    /* BOX DE USER-INFO */

    .user-panel {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .user-panel .row {
        max-width: 280px;
   }

    .profile {
        padding: 15px;
        height: auto; 
        margin-bottom: 35px;       
    }

    .avatar {
        height: 120px;
        width: 120px;
        margin: 0;
    }

    .profile .user-info {
        margin: 4px 0 0 20px;
        float: left;
        height: 120px;
    }

    .profile .user-info h3,
    .profile .user-info h2 {
        font-size: 14px;
    }

    .profile .user-info h2 {
        height: 65px;
        max-width: 110px;
        overflow: hidden;
        letter-spacing: 0.03em;
    }

    .profile .profile-raw h2,
    .profile .profile-smd h2,
    .profile .profile-srank h2 {
        font-size: 15px;
    }

    .profile .profile-raw h3, 
    .profile .profile-smd h3, 
    .profile .profile-srank h3 {
        font-size: 35px;
    }

    .profile .profile-raw p, 
    .profile .profile-smd p, 
    .profile .profile-srank p {
        font-size: 19px;
        margin: 0;
    }

    .user-info p a {
        font-size: 14px;
    }

    .profile .profile-raw, 
    .profile .profile-smd, 
    .profile .profile-srank {
        margin: 0;
        margin-top: 25px;
        width: 100px;
        float: left;
    }

    .profile .divisor {
        height: 74px;
        margin: 33px 0px 0 48px;
        float: left;
    }


    /* SEÇÃO DOS TIMES DO USUARIO */
    
    /* BOX DE NOME DA BRAND */
    .brand-section {
        margin-top: 0;
        margin-bottom: 70px;
    }

    .brand-section .head {
        height: 43px;
        margin-bottom: 7px;
        letter-spacing: 0.01em;
        text-shadow: 0px 1px 0px #000;
    }

    .brand-section .head h2 {
        font-size: 18px;
        margin: 13px 0 0 13px;
    }

    .brand-section .head p {
        font-size: 18px;
        margin: 10px 13px 0 0;
    }

    .brand-section .head .market-open,
    .brand-section .head .market-closed {
        text-shadow: 0px 1px 0px #000;
    }

    /* BOX INFO DA BRAND */

    .brand-team {
        padding-left: 15px;
    }

    .brand-section .brand-team .team-info {
        width: 257px; 
        height: 160px;
        margin-top: 0px;
   }

    .brand-section .brand-team .info-ppv {
        height: 105px;
    }

    .brand-section .brand-team ul {
        padding-top: 7px;
        padding-left: 0;
    }

    .brand-section .team-info ul li {
        font-size: 18px;
        margin-bottom: 7px;
    }

    .brand-section .brand-team ul li:nth-child(3) {
        margin-bottom: 0;
    }

    .brand-section .brand-team ul li:nth-child(3) p {
        width: 130px;
    }

    .brand-section .brand-team ul li:nth-child(4) {
        text-align: right;
        font-size: 40px;
        margin-bottom: 0;
    }

    .brand-section .brand-team ul a {
        display: none;
    }


    .brand-section .brand-team div {
        width: 132px; 
        height: 132px;
        margin-top: 0px;
    }

    .brand-section .brand-team img {
        width: 125px; 
        height: 125px;
        margin: 0px;
    }

    .brand-section .brand-team .star-name {
        width: 119px; 
        margin: 92px 0 0 3px; 
    }

    .brand-section .brand-team .star-name p {
        font-size: 12px;
        padding-top: 8px;
    }

    .brand-section .brand-team .mobile-market-btn {
        width: 170px;
        height: 40px;
        margin-top: 20px;
        margin-left: 47px;
        padding-top: 8px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0px 2px 1px #95999c;
        margin-bottom: 5px;        
    }

    .brand-section .brand-team .mobile-market-btn a {
        width: 170px;
        height: 40px;
        color: #fff;
        text-decoration: none;
    }

    .brand-section .brand-team .ppv-btn {
        border: 2px solid #141516;
        background-color: #141516;
    }

    .brand-section .brand-team .smd-btn {
        border: 2px solid #3b30fe;
        background-color: #3b30fe;
    }

    .brand-section .brand-team .raw-btn {
        border: 2px solid #d7182a;
        background-color: #d7182a;
    }


    /* FOOTER */

    .logo_footer img {
        width: 150px;
    }

    #media {
        margin-top: 22px;
    }

    #media img {
        width: 25px;
    }

    .social ul {
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .social a {
        font-size: 14px;
        margin-right: 17px;
    }

    .nav-container {
        max-width: 593px;
    }

    .footer-container {
        max-width: 593px;
    }

    .copy-container {
        max-width: 593px;
    }

}



@media (min-width: 768px) and (max-width: 991px) {
    
    ul#menu a {
        font-size: 16px;
    }

    .main {
        max-width: 721px;
    }



    .footer-container {
        max-width: 721px;
    }

    .copy-container {
        max-width: 721px;
    }

    .play .row {
        width: 721px;
    }

    .play .team, .play .account {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .play .account, .play .wwe {
        margin-left: 100px;
        margin-right: 40px;
    }

    .avatar {
        height: 120px;
        width: 120px;
    }

    .profile .user-info h3,
    .profile .user-info h2 {
        font-size: 18px;
        width: 150px;
    }

    .profile .user-info h2 {
        height: 75px;
    }

    .profile .profile-raw h2,
    .profile .profile-smd h2,
    .profile .profile-srank h2 {
        font-size: 20px;
    }

    .profile .profile-raw, 
    .profile .profile-smd, 
    .profile .profile-srank {
        width: 150px;
    }

    .profile .profile-raw h3, 
    .profile .profile-smd h3, 
    .profile .profile-srank h3 {
        font-size: 60px;
    }

    .profile .profile-smd, 
    .profile .profile-srank {
        margin-left: 25px;
    }

    .user-info p a {
        font-size: 16px;
    }

    .profile .divisor {
        height: 125px;
    }

    .profile {
        height: 180px;
    }

    .user-panel .row {
        max-width: 721px;
    }

    .brand-section {
        margin-top: 40px; 
    }

    .brand-section .head h2 {
        font-size: 20px;
        margin: 13px 0 0 20px;
    }

    .brand-section .head p {
        font-size: 20px;
        margin: 10px 20px 0 0;
    }

    .brand-section .head {
        height: 47px;
         margin-bottom: 7px;
        letter-spacing: 0.1em; 
    }

    .brand-team {
        padding-left: 3px;
    }

    .brand-section .brand-team .team-info {
         width: 143px; 
         height: 143px;
         margin-top: 3px;
    }

    .brand-section .brand-team div {
         width: 143px; 
         height: 143px;
        margin-top: 3px;
    }

    .brand-section .brand-team img {
        width: 133px; 
        height: 133px;
        margin-top: 9px;
    }

    .brand-section .brand-team .star-name {
        width: 125px; 
        margin: 109px 0 0 14px; 
    }

    .brand-section .brand-team .star-name p {
        font-size: 11px;
        padding-top: 8px;
    }

    .brand-section .brand-team ul {
        padding-top: 7px;
        padding-left: 0;
    }

    .brand-section .team-info ul li {
        font-size: 14px;
        margin-bottom: 0;
    }

    .brand-section .brand-team ul li:nth-child(3) p {
        width: 106px;
    }

    .brand-section .brand-team ul li:nth-child(4) {
        font-size: 25px;
    }

    .brand-section .brand-team ul a li {
        padding-top: 8px;
        font-size: 16px;
    }

    .brand-section .brand-team .mobile-market-btn,
    .brand-section .brand-team .mobile-market-btn a {
        display: none;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .main {
        max-width: 945px;
    }

    .nav-container {
        max-width: 945px;
    }

    .footer-container {
        max-width: 945px;
    }

    .copy-container {
        max-width: 945px;
    }

    .play .row {
        width: 945px;
    }
    
    .play .account, .play .team, 
    .play .wwe, .play .score {
        width: 225px;
        margin: 0;
    }

    .play .account, .play .team, 
    .play .wwe {
         margin-right: 15px; 
    }

    .play .account, .play .wwe, 
    .play .score {
        padding-left: 16px;
    }

    .play .team {
        padding-left: 4px;
    }

    .user-panel .row {
        max-width: 945px;
    }

    .brand-team {
        padding-left: 3px;
    }

    .brand-section .brand-team .team-info {
         width: 186px; 
         height: 186px;
    }

    .brand-section .brand-team div {
         width: 189px; 
         height: 189px;
        margin-top: 10px;
    }

    .brand-section .brand-team img {
        width: 175px; 
        height: 175px;
        margin-top: 9px;
    }

    .brand-section .brand-team .star-name {
        width: 167px; 
        margin: 151px 0 0 14px; 
    }

    .brand-section .brand-team .star-name p {
        font-size: 14px;
        padding-top: 5px;
    }

    .brand-section .brand-team ul {
        padding-top: 7px;
        padding-left: 0;
    }

    .brand-section .team-info ul li {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .brand-section .brand-team ul li:nth-child(3) p {
        width: 133px;
    }

    .brand-section .brand-team ul li:nth-child(4) {
        font-size: 39px;
    }

    .brand-section .brand-team .mobile-market-btn,
    .brand-section .brand-team .mobile-market-btn a {
        display: none;
    }
}

@media (min-width: 1200px) {
    .brand-section .brand-team .mobile-market-btn,
    .brand-section .brand-team .mobile-market-btn a {
        display: none;
    }
}

