/* CSS DA LIGA*/
/*@font-face {
    font-family: "fontLogo";
    src: url('fonts/California.ttf') format("truetype");
}
.membrosLiga {
     border: 1px solid !important;
     border-radius: 10px;
     padding: 5px;
     border-color: grey;
     float:left;
     margin: 15px 17px 15px 17px;
     background-color: #f7f7f7;
} 
.membrosLiga-info{
    background-color: #f0f0f0;
    
    
}
.brandTitle{
    width: 100%;
}
.membroLigaCampo{
    text-align: center;
    padding: 5px;
}
.membroLigaNome {
    padding-left: 5px;
}
.navbarLiga {
    margin-bottom: 0;
    border: none;
    background-color: #141516;
    padding-bottom: 8px;
}
li#menuLiga a {
    color: #fff;
    padding: 5px;
    margin: 8px;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 80px;
    border: 2px solid #141516;
}
li#menuLiga a:focus{
    background-color: white;
    color: #141516;
}
li#titleLiga {
    margin-top: 7px;
    font-family: "California";
    font-size: 35px;
}
.dropLiga {
    margin-left: 0px;
    padding: 0px;
    text-align:left;
}*/


/* CSS LEAGUE FORM */

.league-page {
    margin: 0 auto;
    max-width: 1170px;
}

league.page h2 {
    margin: 0;
}

.league-form {
    margin-top: 50px;
    margin-bottom: 150px;
    max-width: 1170px;
    padding: 0;
}

.league-form h2 {
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    padding: 10px 0 10px 20px;
    font-size: 30px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.league-form label {
    margin: 20px 0 5px 20px;
    font-size: 18px;
    color: #141516;
}  

.league-form .input-field {
    margin-left: 20px;
    width: 510px;
}

.league-form .btn-league-form {
    margin: 20px 0 0 20px;
    width: 110px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #d7182a;
    background-color: #fff;
    border: 2px solid #d7182a;
}

.league-form .btn-league-form:hover {
    color: #fff;
    background-color: #d7182a;
}

/* CSS LEAGUE PAGE */

.league-page {
    margin: 50px auto 70px auto;
}

.league-page .league-name {
    height: 65px;
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    margin-bottom: 7px;
}

.league-page .league-name h2 {
    margin: 0;
    text-shadow: 0px 3px 6px #141516;
    padding: 15px 0 10px 20px;
    font-size: 30px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

.league-page .avatar {
    margin-left: 20px;
}

.league-page .league-avatar {
    margin: 0 auto;
}

.league-page .league-avatar h3 {
    text-shadow: 0px 1px 1px #141516;
    font-size: 30px;
    color: #d7182a;
    text-align: left;
    font-weight: bold;
    display: inline-block;
    margin: 65px 0 0 20px;
}

.league-page .league-avatar ul {
    list-style: none; 
    margin: 35px 20px 0 0;;  
    float: right

}

.league-page .league-avatar ul li {
    margin-top: 30px;
}

.league-page .league-avatar ul li a {
    width: 220px;
    height: 40px;
    margin: 0 auto;
    border: 2px solid #d7182a;
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #d7182a;
    font-weight: bold;
    padding-top: 4px;
}

.league-page .league-avatar ul li a:hover {
    color: #fff;
    background-color: #d7182a
}

.league-page .league-members .league-member-avatar {
    width: 80px;
    height: 80px;
    border-radius: 87px;
    background-color: #000;
    float: left;
}
.league-members {
    margin: 0 auto;
    margin-top: 30px;
}

.league-members p {
    float: left;
    font-size: 23px;
    font-weight: bold;
    color: #d7182a;
    text-shadow: 0px 1px 1px #141516;
    margin: 22px 0 0 15px;
}

.league-members .col-md-6 > div {
    overflow: hidden;
    margin: 40px 0 0 20px;
}

.divisoria {
    width: 100%;
    height: 3px;
    background-color: #d9e0e6;
    margin-top: 50px;
}

.league-stats {
    margin-top: 50px;
}

.league-stats .league-brand-score .score {
    background-color: #d7182a;
    border-radius: 120px;
    width: 220px;
    height: 220px;
    padding: 69px 0 0 12px;
    box-shadow: 0px 3px 6px #676767;
    margin: 0 auto;
}

.league-stats .league-brand-score .score h2 {
    margin: 0;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 3px 6px #141516;
    text-align: center;
    width: 197px;
}

.league-stats .league-brand-score .league-rank {
    width: 90px;
    height: 90px;
    border-radius: 87px;
    box-shadow: 0px 3px 6px #676767;
    margin: -50px 0 0 200px;
    background-color: #fff;
}

.league-stats .league-brand-score .league-rank p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 30px 0;
}

.league-stats .league-members-score h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 3px 6px #141516;
    background-color: #d7182a;
    box-shadow: 0px 3px 6px #676767;
    border-radius: 4px;
    width: 330px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.league-stats .league-members-score ul {
    padding: 0;
    margin: 20px;
}

.league-stats .league-members-score .avatar {
    width: 56px;
    height: 56px;
    border-radius: 87px;
    background-color: #000;
    margin: 0;
}

.league-stats .league-members-score ul li {
    overflow: hidden;
    margin-bottom: 20px;
}

.league-stats .league-members-score ul .member-score {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    float: right;
    width: 225px;
    padding-top: 5px;
}

.league-stats .league-members-score ul .member-position {
    text-align: right;
    font-size: 38px;
    font-weight: bold;
    float: right;
    padding-top: 5px;
}