/* CSS LEAGUE FORM */

.league-page {
    margin: 0 auto;
    max-width: 1170px;
}

league.page h2 {
    margin: 0;
}

.league-form {
    margin-top: 50px;
    margin-bottom: 150px;
    max-width: 1170px;
    padding: 0;
}


.league-form h2 {
    background-color: #d7182a;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #676767;
    text-shadow: 0px 3px 6px #141516;
    padding: 10px 0 10px 20px;
    font-size: 30px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.league-form label {
    margin: 20px 0 5px 20px;
    font-size: 18px;
    color: #141516;
}  

.league-form .input-field {
    margin-left: 20px;
    width: 510px;
}

.league-form .btn-league-form {
    margin: 20px 0 0 20px;
    width: 110px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #d7182a;
    background-color: #fff;
    border: 2px solid #d7182a;
}

.league-form .btn-league-form:hover {
    color: #fff;
    background-color: #d7182a;
}

/* CSS LEAGUE PAGE */

.league-page {
    margin: 50px auto 70px auto;
}

/* LEAGUE-PROFILE  */

.league-page .league-profile {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px #95999c;
    text-shadow: 0px 2px 1px #000;
    margin-bottom: 35px;
    padding: 15px 20px;
}

.league-page .league-profile div {
    padding: 0;
}

.league-page .league-profile .league-name h2,
.league-page .league-profile .league-info h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    color: #484b4d;
    text-shadow: none;
    text-align: left;
    font-weight: bold;
    display: block;
}

.league-page .league-profile .league-info h2 {
    text-align: right;
}

.league-page .league-profile .league-name a p {
    margin: 60px 25px 0 0;
    color: #484b4d;
    display: inline-block;
    font-size: 19px;
    text-shadow: none;
}

.league-page .league-profile .league-name a:hover p {
    text-decoration: underline;
}

.league-page .league-profile h3 {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 80px;
    color: #d7182a;
    text-align: right;
    font-weight: bold;
}

.league-profile .divisor {
    height: 125px;
    width: 2px;
    margin: 0 0 0 30px;
    background-color: #d9e0e6;
    float: left;
}

/* LEAGUE-TEAM  */

.league-team .avatar {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 25px;
    margin-top: 0;
}

/* LEAGUE-SCORES  */

.league-scores {
    margin-top: 60px;
}

.league-scores div {
    padding: 0;
}

.league-scores ul {
    list-style: none;
    padding: 10px 0;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 4px;
    height: auto;
    box-shadow: 0px 2px 1px #95999c;
}

.league-scores ul li {
    padding-left: 23px;
    overflow: hidden;
}

.league-scores .divisor {
    width: 812px; 
    height: 2px;
    background-color: #d9e0e6;
    margin: 5px auto;
}

.league-scores ul li p {
    display: inline-block;
    color: #d7182a;
    text-shadow: 0px 1px 0px #141516;
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin: 19px 10px 0 0;
}

.league-scores ul li p:nth-of-type(2) {
    font-weight: normal;
    display: normal;
}

.league-scores ul li p:nth-of-type(3) {
    float: right;
    margin-right: 23px;
}

.league-scores ul li:nth-child(1) {
    font-size: 32px;
    font-weight: bold;
    color: #d7182a;
    text-shadow: 0px 2px 1px #000;
    margin-bottom: 10px;
}

.league-scores ul li:nth-child(2) {
    background-color: #d7182a;
    margin-left: -10px;
    margin-bottom: 5px;
    width: 855px;
    box-shadow: 0px 1px 1px #000;
    border-radius: 4px;
    padding: 0 33px;
    overflow: hidden;
}

.league-scores ul li:nth-child(2) p {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin: 19px 10px 0 0;
    text-shadow: 0px 2px 1px #000;
}

.league-scores ul li:nth-child(2) p:nth-of-type(2) {
    font-weight: normal;
    display: normal;
}

 .league-scores ul li:nth-child(2) p:nth-of-type(3) {
    float: right;
    margin-right: 0;
} 

.league-scores .avatar {
    height: 45px;
    width: 45px;
    float: none;
    margin: 12px;
    display: inline-block;
    float: left;
}

.league-partial-scores ul {
    height: auto;
}

.league-partial-scores ul li:nth-child(3) {
    background: none;
    box-shadow: none;
    width: auto;
    text-align: center;
    color: #d7182a;
    text-shadow: 0px 2px 1px #000;
    font-size: 65px;
    font-weight: bold;
    padding: 0;
}

.league-partial-scores ul .divisor {
    width: 226px;
}

/* LEAGUE-SCORES SMACKDOWN  */

.smackdown ul li:nth-child(2) {
    background-color: #3b30fe;
}

.smackdown .league-partial-scores ul li:nth-child(3) {
    color: #3b30fe;
}

/* LEAGUE-SCORES PAY PER VIEW  */

.payperview ul li:nth-child(2) {
    background-color: #232828;
}

.payperview .league-partial-scores ul li:nth-child(3) {
    color: #232828;
}