.shop-banner {
    background: url(../img/banner_vermelho.jpg) center no-repeat;
    height: 263px;
    background-color: #d7182a;
}

.shop-banner h2 {
    text-align: center;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    margin-top: 85px;
}

.showcase {
    margin-bottom: 100px;
}

.showcase > div:nth-of-type(1) {
    margin-top: 35px;
}

.showcase > div:nth-of-type(2) {
    margin-top: 30px;
}

.showcase .separador {
    width: 100%;
    height: 2px;
    background-color: #d9e0e6;
    margin-bottom: 65px;
}

.user-wc img {
    float: left;
    width: 60px;
    height: 60px;
}

.user-wc p {
    float: left;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #484b4d;
    margin-left: 10px;
}

.icon-block {
    width: 189px;
    float: left;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px #95999c;
    margin-left: 42px;
    margin-bottom: 42px;
}

.icon-img {
    height: 169px;
    width: 169px;
}

.icon-block > p {
    font-size: 18px;
    color: #484b4d;
    text-align: center;
    margin-top: 10px;
}

.icon-block div {
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
}

.icon-block div img {
    float: left;
    width: 37px;
    height: 37px;
    margin-top: 3px;
}

.icon-block div p {
    font-size: 30px;
    color: #484b4d;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

.icon-block .btn-shop {
    width: 165px;
    height: 50px;
    margin: 0 auto;
}
    
.icon-block .btn-shop a {
    text-decoration: none;
    width: 165px;
    height: 40px;
    font-size: 21px;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #fff;
    display: block;
    margin: auto;
    background-color: #3fd73f;
    box-shadow: 0px 4px 0px #027030;
    border-radius: 4px;
}

.btn-shop a:active {
    background-color: #32ab32;
    box-shadow: 0px 2px 0px #012811;
    transform: translateY(3px);
}