.dropify-wrapper{
    width: 11%;
}
.widget-user img {
    height: 72px;
    float: left;
    width: 72px;
}
.inbox-widget .inbox-item .inbox-item-date {
    color: #98a6ad;
    font-size: 15px;
    position: absolute;
    right: 7px;
    top: 2px;
}
.inbox-widget .inbox-item img {
    width: 50px;
}
.inbox-widget .inbox-item .inbox-item-author {
    color: white;
    margin-left:20px; 
}
.img-circle-admin-check {
    border-radius: 50%;
    width: 72px;
    height: 72px;
}
.card-box{
    box-shadow: none;
}
.img-thumbnail {
    border: 0px solid black;
    box-shadow: 0px 3px 6px #141516;
    padding: 0px;
}
.panel-border.panel-green .panel-heading{
    border-color: #0C9550 !important;
    color: #0C9550 !important;
}
.panel-border.panel-red .panel-heading{
    border-color: #F0504E !important;
    color: #F0504E !important;
}
.panel-border.panel-blue .panel-heading{
    border-color: #4D50EF !important;
    color: #4D50EF !important;
}
.panel-border.panel-yellow .panel-heading{
    border-color: #FFBD49 !important;
    color: #FFBD49 !important;
}
img.img-circle.thumb-xl.img-thumbnail.m-b-10.championImageAdmin {
    width: 100%;
    height: auto;
}
h3.panel-title.beltNameAdmin {
    font-size: 12px;
}